@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    border-bottom: 2px solid white  ;
}

.slick-slider,
.slick-list,
.slick-track,
.slick-slide > div {
  height: 100%;
}

.slick-list {
  padding: 0 !important;
}

